<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="BaseAuthUrl" value="[auth-url]" />
	<add key="BaseServiceUrl" value="[service-url]" />
    <add key="MonikEndpoint" value="[host]" />
    <add key="MonikInstanceName" value="[instance]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>